<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195240213154-2j508k5mukgjtd93vgju6hoqnf34g91v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195240213154-2j508k5mukgjtd93vgju6hoqnf34g91v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195240213154-sbuiubj8bu9vp18d9q899q7ddocmu2rp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Jo13V8hcS7wKGuRsDbNgM9Fp6TAnCeE</string>
	<key>GCM_SENDER_ID</key>
	<string>195240213154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SecretWorld</string>
	<key>PROJECT_ID</key>
	<string>secretworld-a14f2</string>
	<key>STORAGE_BUCKET</key>
	<string>secretworld-a14f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195240213154:ios:837b00ad5293a24b2435fb</string>
</dict>
</plist>